*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.flex{
    display: flex;
}

.flex-center{
    display: flex;
    justify-content: center;
}

.flex-center-line{
    display: flex;
    align-items: center;
}

.flex-end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
    
}

.flex-between{
    display: flex;
    justify-content: space-between;
}







header{
    background-color: black;
    color: white;
    padding: 1rem;
    width: 200px;
}

main{
    height: 100%;
    width: 100%;
    background-color: rgb(20, 25, 34);
    overflow-y: scroll;
  
}

footer{
    height: 10%;
    width: 100%;
    background-color: rgb(40, 40, 40);
    position: fixed;
   
}

.container-body{
    height: 95%;
}



div.logo{
    width: 100%;
    height: 100%;
    margin-bottom: 3rem;
    margin-top: 1.1rem;
    
}




section.nav-bar{
    height: 8rem;
    width: 100%;
    
}

section.nav-bar>ul>li{
   font-size: 1.2rem;
   padding-bottom: .8rem;
}


section.playlist-section{
    width: 100%; 
}

section.playlist-section>ul>li{
    font-size: 1.2rem;
   padding-bottom: .8rem;
}

section.profile{
    width: 100%;
    height: 5rem;
    justify-items: end;
}


section.high-section{
    width: 100%;
    background-color: rgb(8, 11, 18);
}

.div-upgrade{
    padding: 1.5rem 0 1.5rem 0;
    width: 20rem
}

.div-upgrade>button{
    width: 100%;
    padding: .7rem;
    border-radius: 5rem;
    background-color: black;
    border: white solid 2px;
    color: white;
    font-size: 1.1rem;
}



.nav-bar-main{
    padding-top: 1.2rem;
    width: 100%;
}

li{
    list-style-type: none;


}
.nav-bar-main>ul>li{
    color: rgb(123, 126, 130);
    display: inline;
    padding-left: 1rem;
}


.title-music-container>h2{
    padding: 2rem 0 1.5rem 1rem;
    font-size: 2rem;
    color: white;
    
}

.title-music-container>p{
    padding: 0 0 1.5rem 1rem;
    font-size: 1.1rem;
    color: white;
}

.conatiner-played{

}

div.card-music{
    width: calc((100% / 6 ) - 2rem );
    margin: 2rem 1rem 3rem 1rem;
  
} 

div.card-music .img-music>img{
    width: 100%;
    min-width: 50%;
}


div.card-music .info-music{
    text-align: center;
    color: white;
    
}






/* solo per il background? */


.playback{
    
    background-color: aqua;
    
}

.central-bar{
    
    background-color: aqua;

}

.settings{
    
    background-color: aqua;
}


.info-playback{
    background-color: red;
    width: 40%;
    height: 100%;
}

.save-playback{
    background-color: red;
    width: 40%;
    height: 100%;
}

.nav-music{
    background-color: red;
    height: 50%;
}

.loading-bar{
    width: 80%;
    border: 5px solid gray;
    border-radius: 1rem;
}

.container-loading-bar{
    width: 40%;
}





/* Breakpoint md <768px */

@media screen and (max-width: 768px ){

    div.card-music{
        width: calc((100% / 4 ) - 2rem );
        margin: 2rem 1rem 3rem 1rem;
      
    } 


    .div-upgrade{
        padding: 1.5rem 0 1.5rem 0;
        width: 50%; 
    }



}



/* Breakpoint sm <576px */

@media screen and (max-width: 576px ){
    
    

}



/* Breakpoint xs <576px */

@media screen and (max-width: 576px ){




}