*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.flex{
    display: flex;
}

.flex-center{
    display: flex;
    justify-content: center;
}

.flex-center-line{
    display: flex;
    align-items: center;
}

.flex-end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
    
}

.flex-between{
    display: flex;
    justify-content: space-between;
}

/* dimensioni fisse per il layout, da cancellare  */

/* brealpoint lg > 992px */

@media screen and (min-width: 992px ) {   


header{
    height: 92vh;
    width: 13vw;
    background-color: black;
    
}

main{
    height: 92vh;
    width: 87vw;
    background-color: rgb(20, 25, 34);
  
}

footer{
    height: 8vh;
    width: 100%;
    background-color: rgb(40, 40, 40);
    position: fixed;
   
}




div.logo{
    width: 100%;
    height: 4rem;
    background-color: aqua;
}


section.nav-bar{
    height: 8rem;
    width: 100%;
    background-color: blueviolet;
}

section.playlist-section{
    height: 16rem;
    width: 100%;
    background-color: antiquewhite;
}

section.profile{
    background-color: burlywood;
    width: 100%;
    height: 5rem;
}

section.high-section{
    width: 100%;
    height: 5rem;
    background-color: coral;

}

.div-upgrade{
    width: 15%;
    height: 2rem;
    background-color: blue;
}

.nav-bar-main{
    background-color: cadetblue;
    width: 100%;
}

.nav-bar-main>ul>li{
    color: white;
    display: inline;
    list-style-type: none;
}


.title-music-container{
    background-color: azure;
    
}

.conatiner-played{
    background-color: brown;
    padding: 1.5rem;
    
}

.card-music{
    width: calc( (100% / 6) - 2rem);
    background-color: aqua;
    margin: 1rem;
    max-width: 60%;
}


/* solo per il background? */
.second-container-music{
    background-color: blue;
}

.third-container-music{
    background-color: yellow;
}


.playback{
    width: 13vw;
    height: 5rem;
    background-color: aqua;
    
}

.central-bar{
    width: 26vw;
    height: 5rem;
    background-color: aqua;

}

.settings{
    width: 13vw;
    height: 8vh;
    background-color: aqua;
}


.info-playback{
    background-color: red;
    width: 40%;
    height: 100%;
}

.save-playback{
    background-color: red;
    width: 40%;
    height: 100%;
}

.nav-music{
    background-color: red;
    height: 50%;
}

.loading-bar{
    width: 80%;
    border: 5px solid gray;
    border-radius: 1rem;
}

.container-loading-bar{
    width: 40%;
}

}








/* Breakpoint md >768px */

@media screen and (min-width: 768px ){




}



/* Breakpoint sm >576px */

@media screen and (min-width: 576px ){




}



/* Breakpoint xs <576px */

@media screen and (max-width: 576px ){




}