*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.flex{
    display: flex;
}

.flex-center{
    display: flex;
    justify-content: center;
}

.flex-center-line{
    display: flex;
    align-items: center;
}

.flex-end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
    
}

.flex-between{
    display: flex;
    justify-content: space-between;
}

/* dimensioni fisse per il layout, da cancellare  */





header{
    background-color: black;
    
}

main{
    height: 100%;
    width: 100%;
    background-color: rgb(20, 25, 34);
  
}

footer{
    height: 10%;
    width: 100%;
    background-color: rgb(40, 40, 40);
    position: fixed;
   
}

.container-body{
    height: 95%;
}






div.logo{
    width: 100%;
    height: 4rem;
    background-color: aqua;
}


section.nav-bar{
    height: 8rem;
    width: 100%;
    background-color: blueviolet;
}

section.playlist-section{
    height: 16rem;
    width: 100%;
    background-color: antiquewhite;
}

section.profile{
    background-color: burlywood;
    width: 100%;
    height: 5rem;
}

section.high-section{
    width: 100%;
    height: 5rem;
    background-color: coral;

}

.div-upgrade{
    width: 15%;
    height: 2rem;
    background-color: blue;
}

.nav-bar-main{
    background-color: cadetblue;
    width: 100%;
}

.nav-bar-main>ul>li{
    color: white;
    display: inline;
    list-style-type: none;
}


.title-music-container{
    background-color: azure;
    
}

.conatiner-played{
    background-color: brown;
    
}

.card-music{
    
    width: calc( (100% / 6) - 2rem);
    
    
    
}

div.img-music{
    padding: 1rem;
    width: 300px;
    height: 300px;
}


div.img-music>img{
    height: 80%;
    width: 80%;
}



div.info-music{
    width: 80%;
    background-color: blue;
    margin: 0 auto;
}

.info-music>h2{
    font-size: 1.3rem;
    padding-top: 1rem;
    color: white;
    text-align: center;
}

.info-music>p{
    padding: 1rem;
    color: lightgray;
    text-align: center;
}

/* solo per il background? */
.second-container-music{
    background-color: blue;
}

.third-container-music{
    background-color: yellow;
}


.playback{
    
    background-color: aqua;
    
}

.central-bar{
    
    background-color: aqua;

}

.settings{
    
    background-color: aqua;
}


.info-playback{
    background-color: red;
    width: 40%;
    height: 100%;
}

.save-playback{
    background-color: red;
    width: 40%;
    height: 100%;
}

.nav-music{
    background-color: red;
    height: 50%;
}

.loading-bar{
    width: 80%;
    border: 5px solid gray;
    border-radius: 1rem;
}

.container-loading-bar{
    width: 40%;
}







/* Breakpoint md >768px */

@media screen and (min-width: 768px ){




}



/* Breakpoint sm >576px */

@media screen and (max-width: 576px ){
    
    div.info-music{
        width: 80%;
        background-color: black;
        margin: 0 auto;
    }

    div.card-music{
        width: 50%;
    }




}



/* Breakpoint xs <576px */

@media screen and (max-width: 576px ){




}